.navbar{
    background-color: rgb(10, 6, 24);

}
.Heading{
    font-weight: bold;
    font-size: 34px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.navlinks{
    color: white;
    font-style: normal;
    font-family: monospace;
}